/*
--minmax => for row & columns , it is strongeer than fr (b/c you set in css unit) 
---if there is space it goes to 'max' otherwise less but not less than the 'min'
    grid-template-columns: repeat(7,200px); => with width 1400 we will have 7 columns but if width is 1600 we will have space left so use auto-fill(inplace of 7) but we will have space left so we use in place of 200px "min-max"
    this lesson is related to 'responsiveness'
there is auto-fit w'h is similiar but in (scrimba) it was better than the autofill b/c it didn't added a 3rd space
where the elements where only 2 .
*/



* {
    box-sizing: border-box;
    margin: 0;
  }
  .parent {
    margin: 20px auto;
    height: 500px;
    background-color: #ddd;
    display: grid;
    /* grid-template-columns: minmax(400px,600px) repeat(2,500px); */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /*the difference is when the width is more than 1900px*/
    /* Very responsive */
    /* grid-template-columns: 20ch 20ch ; */
  }
  .parent div {
    background-color: red;
    color: white;
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }